/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 14, ../sass/screen.scss */
body {
  background-image: url(/images/bg.jpeg);
}

/* line 18, ../sass/screen.scss */
.container {
  padding: 20px, 40px;
  margin-top: 50px;
}

/* line 23, ../sass/screen.scss */
.two-col {
  width: 620px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 20px, 40px;
  margin-top: 50px;
}
/* line 28, ../sass/screen.scss */
.two-col #header {
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  height: 120px;
  width: 600px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 620px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #header {
  overflow-x: hidden;
}
/* line 35, ../sass/screen.scss */
.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content {
  overflow-x: hidden;
}
/* line 38, ../sass/screen.scss */
.two-col #content #enter-sc-url {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 620px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  margin-top: 20px;
  height: 100px;
  background-color: #cccccc;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content #enter-sc-url {
  overflow-x: hidden;
}
/* line 45, ../sass/screen.scss */
.two-col #content #enter-sc-url h2 {
  font-size: 35px;
}
/* line 49, ../sass/screen.scss */
.two-col #content #enter-sc-url input {
  border-color: #ccc;
  border-width: 5px;
  border-style: solid;
  width: 600px;
  height: 35px;
  font-size: 15px;
  font-color: #ccc;
}
/* line 59, ../sass/screen.scss */
.two-col #content #enter-sc-url p .small {
  font-size: 15px;
  font-color: #eee;
}
/* line 65, ../sass/screen.scss */
.two-col #content #example-tracks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 620px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  margin-top: 20px;
  height: 100px;
  background-color: #cccccc;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content #example-tracks {
  overflow-x: hidden;
}
/* line 72, ../sass/screen.scss */
.two-col #content #example-tracks h3 {
  font-size: 20px;
}
/* line 78, ../sass/screen.scss */
.two-col #content #player-placeholder {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 620px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  height: 100px;
  background-color: #cccccc;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content #player-placeholder {
  overflow-x: hidden;
}
/* line 85, ../sass/screen.scss */
.two-col #content #scPlayer {
  height: 81px;
  width: 600px;
  padding-left: 10px;
  padding-top: 15px;
}
/* line 92, ../sass/screen.scss */
.two-col #content #chat-box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 620px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  background-color: #cccccc;
  margin-top: 20px;
  padding-top: 10px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0@soundcloud-social/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .two-col #content #chat-box {
  overflow-x: hidden;
}
/* line 99, ../sass/screen.scss */
.two-col #content #chat-box .input-username {
  height: 40px;
}
/* line 103, ../sass/screen.scss */
.two-col #content #chat-box .in-chat {
  height: 180px;
}
/* line 107, ../sass/screen.scss */
.two-col #content #chat-box #messages_container {
  overflow: auto;
  height: 150px;
  width: 600px;
  margin-left: 10px;
  background: white;
}
/* line 115, ../sass/screen.scss */
.two-col #content #chat-box #send_message {
  margin-left: 10px;
  margin-top: 5px;
  width: 500px;
}

/* line 124, ../sass/screen.scss */
.red {
  color: red;
  font-wight: bold;
}
