/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$blueprint_grid_columns: 9;
$blueprint_grid_width: 60px;

@import "blueprint";
@import "compass/css3/border-radius";

body {
  background-image: url(/images/bg.jpeg);
}

.container {
  padding: 20px, 40px;
  margin-top: 50px;
}

.two-col {
  @include container;
  padding: 20px, 40px;
  margin-top: 50px;

  #header {
    background-image: url(/images/header.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 600px;
    @include column(9); }

  #content {
    @include column(9, true);

    #enter-sc-url {
      @include column(9);
      @include border-radius(5px, 5px);
      margin-top: 20px;
      height: 100px; 
      background-color: #cccccc;

      h2 {
        font-size: 35px;
      }

      input {
        border-color: #ccc;
        border-width: 5px;
        border-style: solid;
        width: 600px;
        height: 35px;
        font-size: 15px;
        font-color: #ccc;
      }

      p .small {
        font-size: 15px;
        font-color: #eee;
      }
    }

    #example-tracks {
      @include column(9);
      @include border-radius(5px, 5px);
      margin-top: 20px;
      height: 100px; 
      background-color: #cccccc;

      h3 {
        font-size: 20px;
      }

    }

    #player-placeholder {
      @include column(9);
      @include border-radius(5px, 5px);
      height: 100px; 
      background-color: #cccccc;
    }

    #scPlayer {
      height: 81px;
      width: 600px;
      padding-left: 10px;
      padding-top: 15px;
    }

    #chat-box {
      @include column(9);
      @include border-radius(5px, 5px);
      background-color: #cccccc;
      margin-top: 20px;
      padding-top: 10px;

      .input-username {
        height: 40px;
      }

      .in-chat {
        height: 180px;
      }

      #messages_container {
        overflow: auto;
        height: 150px;
        width: 600px;
        margin-left: 10px;
        background: white;
      }

      #send_message {
        margin-left: 10px;
        margin-top: 5px;
        width: 500px;
      }
    }
  }
}

.red {
  color: red;
  font-wight: bold;
}




