= javascript_include_tag "home"
  
#header
  %a#logo{:href => '/'}
#enter-sc-url
  %h2 Paste your SoundCloud track url here
  %input{:type => "text", :id => "sc_url"}
    %p.small Should look like http://soundcloud.com/username/track-name

#example-tracks
  %h3 If you just want to test SoundCloud Social, join one of these tracks:
  %p 
    %a{:href => "/snoopdoggmusic/02-i-wanna-rock"}Snoop Dog - I Wanna Rock
  %p 
    %a{:href => "/warp-records/brian-eno-2-forms-of-anger-small-craft-on-a-milk-sea"}Brian Eno - 2 Forms Of Anger Rock
  %p
    %a{:href => "/imogenheap/first-train-home"}Imogen Heap - First Train Home
